#content{
	#stream{
		height:100%;
		li.tweet{
			position:relative;
			clear:both;
			margin:0 0 20px 0;
			#client-transition-time > .short;
			z-index: 0;
			&:hover{
				z-index:1;
			}
			&.new{
				-webkit-animation-name: fadein;
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: 1;
			}
			&.gap{
				padding-bottom:10px;
				border-bottom:4px dashed #999;
				border-bottom-style:wave;
				margin-bottom:10px;
			}
			> a{
				position:absolute;
				top:4px;
				left:0;
				img{
					#client-border-radius > .small;
				}
			}
			div.status{
				position:relative;
				padding:8px 10px;
				min-height:30px;
				margin:0 0 0 65px;
				display:block;
				background:#fff;
				border:1px solid transparent;
				#client-border-radius > .middle;
				#client-shadow > .small;
				#client-transition-time > .short;
				-webkit-transform: translate3d(0,0,0);
				.h{
					float:left;
					margin:0 0 10px 0;
					a{
					font-weight:bold;
					}
				}
				.time{
					position:absolute;
					top:10px;
					right:10px;
				}
				.text{
					clear:both;
					color:#111;
					margin:0;
					a{
						color:@client-red;
						&:hover{
							color:#111;
						}
					}
					&:after{
						/*reserve space for .actions*/
						content:"\00a0";
						display:inline-block;
						width:70px;
					}
					
					.image-preview{
						position:relative;
						width:10px;
						overflow:hidden;
						img{
							height: 12px;
						}
						&:hover{
							img{
								z-index:1;
								position:absolute;
								height:150px;
							}
						}
					}
				}
				.actions{
				  	position:absolute;
					bottom:5px;
					right:7px;
					color:#000;
					li{
						display:inline;
						font-size:15px;
						line-height:15px;
						cursor:pointer;
						opacity:0;
						#client-transition-time > .actions;
						&:hover{
							opacity:1;
							color:@client-red;
						}
						&.favorite{
							&:after{
								content:"☆";
							}
						}
						&.retweet{
							bottom:-1px;
							&:after{
								content:"♻";
							}
						}
						&.quote{
							font-size:25px;
							bottom:-2px;
							&:after{
								content:"»";
							}
						}
						&.reply{
							bottom:-1px;
							&:after{
								content:"↩";
							}
						}
					}
				}

				&:hover{
					#client-shadow > .smalldark;
					.actions li{
						opacity:.7;
					}
				}
				&:after{
					position:absolute;
					top:10px;
					left:-16px;
					display:block;
					width:0;
					height:0;
					content:"\00a0";
					border-color:transparent @client-color-tweet transparent transparent;
					border-style:solid;
					border-width:8px 8px;
				}
				&:hover{
					#client-shadow > .smalldark;
				}
			}
			&.form{
			  .status{
				.actions{
					bottom:96px;
				}
			  }
			}
			&.mention{
			  .status{
				//border-color:@client-color-mention !important;
				background-color:@client-color-mention;
				.h,.time,.in_reply_to_screen_nam{
					color:#fff;
				}
				&:after{
					border-right-color:@client-color-mention;
				}
			  }
			}
			&.retweet{
			  .status{
				//border-color:@client-color-rt !important;
				background-color:@client-color-rt;
				&:after{
					border-right-color:@client-color-rt;
				}
			  }
			  .retweet-user-href-icon {
				#client-shadow > .small;
			    margin:32px 0 0 32px;
			    img{
			    	display:block;
			    }
			  }
			}
			&.direct{
			  .status{
				//border-color:@client-color-dm !important;
				background-color:@client-color-dm;
				.h,.time{
					color:#fff;
				}
				&:after{
					border-right-color:@client-color-dm;
				}
			  }
			}
			&.starred{
			  .status .actions li.favorite{
					opacity:1;
					&:after{
						content:"★";
					}
				}
			}
			&.yourself{
				> a{
					left:auto;
					right:0;
					img{
						#client-border-radius > .small;
					}
				}
				div.status{
					margin:0 65px 0 0;
					&:after{
						left:auto;
						right:-16px;
						border-color:transparent transparent transparent #fff;
					}
				}
				&.mention{
				  .status{
						&:after{
							border-color:transparent transparent transparent @client-color-mention;
						}
				  }
				}
				&.retweet{
				  .status{
						&:after{
							border-color:transparent transparent transparent @client-color-rt;
						}
				  }
				  .retweet-user-href-icon {
				    margin:32px 32px 0 0;
				  }

				}
				&.direct{
				  .status{
						&:after{
							border-color:transparent transparent transparent @client-color-dm;
						}
					}
				}
			}
		}	
	}
}
body.retweet #content #stream {
	li{
		display:none;
		&.retweet{
			display:block;
		}
	}
}
/* similar filter styles like above are automatically generated by status.js/conversation  */
body.conversation #content #stream {
	li{
		display:none;
		&.conversation{
			display:block;
		}
	}
}
body.mention #content #stream {
	li{
		display:none;
		&.mention{
			display:block;
		}
	}
}
body.starred #content #stream {
	li{
		display:none;
		&.starred{
			display:block;
		}
	}
}
body.direct #content #stream {
	li{
		display:none;
		&.direct{
			display:block;
		}
	}
}
