<form id="settingsForm">
  <h2>about:config</h2>
  <ul>
    <% settings.namespaces().forEach(function (ns) { %>
    <li>
      <h3><%= ns.name %></h3>
      <ul>
        <% ns.keys().forEach(function (key) { %>
          <% var value = settings.get(ns.name, key), name  = "settings."+ns.name+"."+key; %>
          <li><label for="<%=name%>"><%= ns.settings[key].label %></label> <input type="checkbox" name="<%=name%>" <%= value ? 'checked' : ''  %> class="setting" /></li>
        <% });%>
      </ul>
    <li>
    <% }); %>
  </ul>
  <input type="button" value="Close" class="button close">
</form>
