<li class="<%= tweet.mentioned ? 'mention' : ''%><%= tweet.retweet ? ' retweet' : ''%><%= !tweet.data.prefill ? ' new' : ''%><%= tweet.data.favorited ? ' favorited' : ''%>">
	<a href="http://twitter.com/<%= tweet.data.user.screen_name %>" class="user-href"><img src="<%= tweet.data.user.profile_image_url %>" alt="<%= tweet.data.user.name %>" width="48" height="48" class="profile_image_url" /></a>
	<div class="status">
		<h3 class="user-name"><a href="http://twitter.com/<%= tweet.data.user.screen_name %>" class="user-href"><%= tweet.data.user.name %></a><% if(tweet.retweet) { %> via <a href="http://twitter.com/<%= tweet.retweet.user.screen_name %>" class="retweet-user-href"><%= tweet.retweet.user.name %></a><% }%>
		  <% if(tweet.data.geo && tweet.data.geo.coordinates) { %> <a class="status-geo" href="http://maps.google.com/maps?q=<%= tweet.data.geo.coordinates.join(',') %>">from here ⌘</a><% } %></h3>
		<p class="text"><%= tweet.textHTML %></p>
		<div class="time created_at"></div>
		<div class="action">
		  <a href="#" title="favorite" class="favorite">★</a>
		  <a href="#" title="retweet" class="retweet">♻</a>
		  <a href="#" title="quote" class="quote">ˮ</a>
		  <a href="#" title="reply" class="reply">↩</a>
	  </div>
    <% if(tweet.data.in_reply_to_status_id) { %>
		<div class="in_reply_to_screen_nam"><a href="http://twitter.com/<%= tweet.data.in_reply_to_screen_name %>/status/<%=tweet.data.in_reply_to_status_id%>" class="conversation">In reply to <%= tweet.data.in_reply_to_screen_name %></a></div>
		<% } %>
	</div>
</li>