<li class="tweet<%= tweet.yourself ? ' yourself' : '' %><%= tweet.mentioned ? ' mention' : ''%><%= tweet.conversation ? ' conversation'+tweet.conversation.index : ''%><%= tweet.retweet ? ' retweet' : ''%><%= tweet.direct_message ? ' direct' : ''%><%= !tweet.prefill ? ' new' : ''%><%= tweet.data.favorited ? ' starred' : ''%><%= tweet.data._missingTweets ? ' gap' : '' %>">
	<a href="http://twitter.com/<%= tweet.data.user.screen_name %>" class="user-href"><img src="<%= tweet.data.user.profile_image_url %>" alt="<%= tweet.data.user.name %>" width="48" height="48" class="profile_image_url" /></a>
	<% if(tweet.retweet) { %><a href="http://twitter.com/<%= tweet.retweet.user.screen_name %>" class="retweet-user-href-icon"><img src="<%= tweet.retweet.user.profile_image_url %>" alt="<%= tweet.retweet.user.name %>" width="24" height="24" class="profile_image_url" /></a><% } %>
	<div class="status">
		<h3 class="h user-name"><%= tweet.direct_message ? '<strong>Direct Message from</strong> ' : ''%><a href="http://twitter.com/<%= tweet.data.user.screen_name %>" class="user-href"><%= tweet.yourself ? 'you' : tweet.data.user.name %></a><% if(tweet.retweet) { %> via <a href="http://twitter.com/<%= tweet.retweet.user.screen_name %>" class="retweet-user-href"><%= tweet.retweet.user.name %></a><% }%>
		  <% if(tweet.data.geo && tweet.data.geo.coordinates) { %> <a class="status-geo" href="http://maps.google.com/maps?q=<%= tweet.data.geo.coordinates.join(',') %>">from here ⌘</a><% } %></h3>
		<p class="text"><%= tweet.textHTML %></p>
		<div class="time created_at"></div>
		<ul class="actions">
		  <li title="Retweet" class="retweet" tabindex="0"></li>
		  <li title="Reply" class="reply" tabindex="0"></li>
		  <li title="Quote" class="quote" tabindex="0"></li>
		  <li title="Starring" class="favorite" tabindex="0"></li>
		</ul>
    <% if(tweet.data.in_reply_to_status_id) { %>
		<div class="in_reply_to_screen_nam"><a href="http://twitter.com/<%= tweet.data.in_reply_to_screen_name %>/status/<%=tweet.data.in_reply_to_status_id%>" class="conversation" title="Show conversation">In reply to <%= tweet.data.in_reply_to_screen_name %></a></div>
		<% } %>
	</div>
</li>
